<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    document.addEventListener('readystatechange', event => {
        if (event.target.readyState === "complete") {
            

var vue1 = new Vue({ 
    el: '#vueContainer',
    data: {
        players: ["", ""],
        dice: 6,
        playerCnt: 2,
    },    
    methods: {
        forward: function(){
            
            window.localStorage.setItem("initData",  JSON.stringify(this.players));
            window.localStorage.setItem("dice", this.dice);
            window.location.replace("maexchen.html");
            // console.log (window.localStorage.getItem("initData"), window.localStorage.getItem("dice"));
        },
        addPlayer: function(){
            this.playerCnt++;
            this.players.push('');
        },        
        placeholder: function(val){
            out = "player";
            return out+=val;
        }
    },
    computed: {
    },
});
}
});
</script>

<body>
    <div class="container" id="vueContainer">
        <div>
            number of dice sides: 
            <input v-model="dice"></input>
            <div v-for="(player, index) in playerCnt">
                <input v-model="players[index]"> </input>
            </div>
            
            <!-- <input v-model="player2" placeholder="player2"></input> -->
            <button @click="addPlayer()">Add Player</button>
            
            
        </div>
        <button @click="forward()">Done</button>
        
    </div>
</body>
</html>