<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maexchen</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>

<style>
    .dice {
        display: flex;
        border: 1px solid powderblue;
        margin: 50px;
        width: 50%;
        justify-content: center;
        

    }
    .die {
        display: flex;
        flex-flow: column no-wrap;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 6px;
        width: 3em;
        height: 3em;
    }
    .cheat {
        display: flex;
    }
    .cheatpanel {
        margin: 2em;
        display: flex;
    }
    .active {
        border: 2px solid pink;
    }
    button {
        margin: 1em;

    }


</style>

<script type="text/javascript">
    document.addEventListener('readystatechange', event => {
        if (event.target.readyState === "complete") {
            
        var vue1 = new Vue({ 
            el: '#vueContainer',
            data: {     
                
                players: [],        
                activePlayer: 0,
                leftDie: 'x',
                rightDie: 'x',
                hasRolled: false,
                cheating: false,
                dieValues: [],
                visibility: true,
                dice: '',
                options: [
                ],
    
            },
            created: function(){
                this.players = JSON.parse(window.localStorage.getItem("initData"));
                this.dice = window.localStorage.getItem("dice");
                // console.log = JSON.parse(window.localStorage.getItem("initData"));
                window.localStorage.removeItem("initData");
                window.localStorage.removeItem("dice");
                this.initialize();

            },   
            computed: {
                result: function(){
                    if (!this.hasRolled) out = 'no roll yet';
                    else if (this.rightDie + this.leftDie == 3) out = 'maexchen';
                    else if (this.rightDie == this.leftDie) out = 'Double' + ' ' + String(this.rightDie);
                    else out = String(Math.max (this.rightDie, this.leftDie)) + String(Math.min (this.rightDie, this.leftDie));
                    return ''+out;     
                },
            },
            watch: {

            },
            
            methods: {
                initialize: function(){      
                    // debug 
                    // if (this.players == null || this.dice == null){
                    //     console.log ("ahh");
                    //     this.players = ["player1", "player2","c"];
                    //     this.dice = 6;
                    // }         
                    // console.log (parseInt(this.dice));
                    for (i = 1; i <= Number(this.dice); i++){
                        this.dieValues.push(i);
                    }
                },
                roll: function(){
                    this.leftDie = Math.floor(Math.random() * Math.floor(this.dice)) +1; 
                    this.rightDie = Math.floor(Math.random() * Math.floor(this.dice)) +1;
                    this.hasRolled = true;
                    // console.log (this.result);
                },
                cheat: function(){
                    this.cheating = true;
                },
                setLeft: function(v){
                    this.leftDie = v;    
                },
                setRight: function(v){
                    this.rightDie = v;    
                },
                cheatDone: function(){
                    this.cheating = false;

                },
                accept: function(){
                    this.hasRolled = false;
                    this.leftDie = 'x';
                    this.rightDie = 'x';   
                    this.nextPlayer();                  
                },
                toggleVisibility: function(){
                    if (this.visibility) this.visibility=false;
                    else  this.visibility = true;
                },
                nextPlayer: function(){
                    if (this.activePlayer +1 < this.players.length) this.activePlayer ++;
                    else this.activePlayer = 0;
                    // console.log (this.activePlayer);
                }
            }
            
        });
    }});
    </script>

<body>
    <div class="container" id="vueContainer">
        <div> Players:
            <div v-bind:class="{active: index == activePlayer}" v-for="(player, index) in players">{{players[index]}}</div>
        </div>
        <!-- DICE & ROLL BUTTON -->
        <div class="main" v-if="visibility">
            <div class="dice">
                <div class="die">{{leftDie}}</div>
                <div class="die">{{rightDie}}</div>
            </div>
            <div>Your result is: {{result}}</div>
            <div class="roll" v-if="!hasRolled">
                <button @click="roll()">Roll Dice</button>
            </div>
            <div class="cheat" v-else>
                <button v-if="!cheating" @click="cheat()">CHEAT</button>
                <button v-if="!cheating" @click="toggleVisibility()">hide</button>
            </div>
        </div>
            
        <div v-if="cheating">
            <div class="cheatpanel">
                Left Die:
                <div v-for="v in dieValues">
                    <button @click="setLeft(v)">{{v}}</button>
                </div>
            </div>
            <div class="cheatpanel">
                Right Die:
                <div v-for="v in dieValues">
                    <button @click="setRight(v)">{{v}}</button>
                </div>
            </div>
            <button @click="cheatDone()">Done</button>
        </div>
        

        <div class="transit" v-if="!visibility">
            <button @click="accept(), toggleVisibility()">I IZ BELIEVE</button>
            <button @click="toggleVisibility()">YOU IZ LIE</button>

        </div>
    </div>
</body>
</html>